[submodule "src/third_party/googletest"]
	path = src/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "src/third_party/benchmark"]
	path = src/third_party/benchmark
	url = https://github.com/google/benchmark.git
